.react-flow__handle.react-flow__handle-left::after {
    content: attr(title);
    font-size: 6px;
    color: currentColor;
    margin-left: 8px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
}

.react-flow__handle.react-flow__handle-right::before {
    content: attr(title);
    font-size: 6px;
    color: currentColor;
    margin-right: 8px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: monospace;
}

.react-flow__node .music-engine-node {
    border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
    min-width: 150px;
    font-size: 12px;
    color: var(--xy-node-color, var(--xy-node-color-default));
    text-align: center;
    border: var(--xy-node-border, var(--xy-node-border-default));
    background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
}

.react-flow__node.selectable:hover .music-engine-node {
    box-shadow: var(--xy-node-boxshadow-hover, var(--xy-node-boxshadow-hover-default));
}

.react-flow__node.selectable.selected .music-engine-node, 
.react-flow__node.selectable:focus .music-engine-node, 
.react-flow__node.selectable:focus-visible .music-engine-node {
    box-shadow: var(--xy-node-boxshadow-selected, var(--xy-node-boxshadow-selected-default));
}

.react-flow__node .music-engine-node .padding {
    padding: 10px;
}

.react-flow__node .music-engine-node .titlebar {
    background-color: var(--xy-resize-background-color-default);
    color: white;
    height: 1.5em;
}

.react-flow__node .music-engine-node .statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: monospace;
    font-size: 10px;
    /* background-color: #111111AF; */
    /* color: white; */
}

.react-flow__node .music-engine-node .statusbar .left {
    text-align: left;
    padding-left: 5px;
}

.react-flow__node .music-engine-node .statusbar .right {
    text-align: right;
    padding-right: 5px;
}
